<div class="contact wrap">
  <h2>Contact me</h2>
  <div class="contact-section">

      <div class="contact-section__box">
        <a href="">
        connect on <span>Linkedin</span></a>
      </div>


      <div class="contact-section__box">
        <a href="">download my <span>resume</span></a>
      </div>
     <div class="contact-section__box">
        <a href="">fork my <span>github</span></a>
      </div>

     <div class="contact-section__box">
        <a href="">call<span>+40 747 818585</span></a>
      </div>

  </div>
  <a href="">
    <div class="email-box-white">Email <span>ioanarosu22@gmail.com</span></div>
  </a>
</div>

