<div class="contact wrap">
  <h2>Contact me</h2>
  <div class="contact-section">
    <div class="contact-section__box">
      <a href="https://www.linkedin.com/in/ioana-rosu-wd/">
        connect on <span>Linkedin</span>
      </a>
    </div>
    <div class="contact-section__box">
      <a href="partials/cv-ioana-rosu.pdf" download>download my <span>resume</span>
      </a>
    </div>
    <div class="contact-section__box">
      <a href="https://github.com/ioanarosu">
        fork my <span>github</span>
      </a>
    </div>
    <div class="contact-section__box">
      <a href="tel:+40 747 818585">call<span>+40 747 818585</span></a>
    </div>

</div>
<a href="mailto:ioanarosu22@gmail.com?">
  <div class="email-box-white">Email <span>ioanarosu22@gmail.com</span>
  </div>
</a>
<div class="copyr">© 2019 Ioana Rosu</div>
</div>

