<aside class="sidebar">
  <div class="top-bar">
    <a href=""><img src="images/logo.png" alt=""></a>
    <nav>
      <ul class="top-bar__navigation">
        <li><a class="top-bar__navigation--link" href="">Projects</a></li>
        <li><a class="top-bar__navigation--link" href="">About me</a></li>
      </ul>
    </nav>
  </div>
  <div class="sm-about">
    <div class="sm-about__avatar">
      <img src="images/ioana-rosu.png" alt="ioana rosu">
    </div>
    <h2>Web ui/ux</h2>
    <h3>I design and build digital products for digital experiences</h3>
    <a class="sm-about__cta" href="">
      <span> Contact me for a good design</span>
    <div class="sm-about__mail-icon sm-about__mail-icon--cta-up">
        <partial src="svg/mail.svg"></partial>
      </div>
    </a>
    <a href="">
      <div class="sm-about__mail-icon sm-about__mail-icon--hide">
        <partial src="svg/mail.svg"></partial>
      </div>
      </a>


  </div>
  <p class="linkedin-link wrap">Want to know more about me? <br>You can find my full resume on <a href="">Linkedin</a></p>


</aside>
<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/iconnice" title="Iconnice">Iconnice</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
