<aside class="sidebar">
  <div class="sm-about">
    <h2>Ioana Rosu</h2>
    <h3>ux designer</h3>
    <p>I design and build digital products for digital experiences, focused on human behaviour and your user experiences</p>
    <a class="sm-about__cta" href="">
      <span> Contact me</span>
    <div class="sm-about__mail-icon sm-about__mail-icon--cta-up">
        <partial src="svg/mail.svg"></partial>
      </div>
    </a>
    <a href="">
      <div class="sm-about__mail-icon sm-about__mail-icon--hide">
        <partial src="svg/mail.svg"></partial>
      </div>
      </a>
  <div class="contact-fixed">
  <div class="contact-section">
    <a href="">
      <div class="contact-section__box">
        connect on <span>Linkedin</span>
      </div>
    </a>
    <a href="">
      <div class="contact-section__box">
        download my <span>resume</span>
      </div>
    </a>
      <a href=""><div class="contact-section__box">
        fork my <span>github</span>
      </div>
      </a>
      <a href=""><div class="contact-section__box">
        call<span>+40 747 818585</span>
      </div>
      </a>
  </div>
</div>


  </div>


</aside>
<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/iconnice" title="Iconnice">Iconnice</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
