<div class="right-side">
  <div class="best-projects wrap">
    <div class="projects">
      <div class="projects__box">
          <a href="http://bit.ly/coffee-shop-app" target="_blank">
            <img src="images/index/diacafe.png" alt="coffe-shop-app" width="417" height="298">
          </a>
          <div class="projects__details">
            <span>internship program</span>
            <h3>diacafe app</h3>
            <p>UI/UX, branding</p>
            <a href="http://bit.ly/coffee-shop-app" class="btn-ext-link" target="_blank">See project</a>
          </div>
        </div>
        <div class="projects__box">
          <a href="http://bit.ly/feedback-app-portfolio" target="_blank">
            <img src="images/index/feedback-app.png" alt="feedback-app">
          </a>
          <div class="projects__details">
            <span>internship program</span>
            <h3>feedback app</h3>
            <p>UI/UX, branding</p>
            <a href="http://bit.ly/feedback-app-portfolio" class="btn-ext-link" target="_blank">See project</a>
          </div>
        </div>
      <div class="projects__box">
        <a href="https://ioanarosu.github.io/skills-for-sale/" target="_blank">
          <img src="images/index/skills-for-sale.jpg" alt="Skills for sale">
        </a>
        <div class="projects__details">
          <span>Personal project</span>
          <h3>skills for sale</h3>
          <p>UI/UX, branding, html & css implementation</p>
          <ul>
            <li>
              <a href="https://ioanarosu.github.io/skills-for-sale/" class="btn-ext-link"target="_blank">Visit site</a>
            </li>
            <li>
              <a href="/skills-for-sale.html" class="btn-ext-link" target="_blank">Case study</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="projects__box">
        <a href="https://www.beststeakrestaurant.com" target="_blank">
          <img src="images/index/bsr.jpg" alt="best steak restaurant">
        </a>
        <div class="projects__details">
          <span>Freelance project</span>
          <h3>best steak restaurant</h3>
          <p>UI/UX, html & css implementation</p>
          <a href="https://www.beststeakrestaurant.com" target="_blank" class="btn-ext-link">Visit site</a>
        </div>
      </div>

        <div class="projects__box">
          <a href="http://deliciousdoughnuts.ro/" target="_blank">
            <img src="images/index/dd.jpg" alt="delicious doughnuts">
          </a>
          <div class="projects__details">
          <span>Freelance project</span>
          <h3>delicious doughnuts</h3>
          <p>UI/UX, html & css implementation</p>
          <a href="http://deliciousdoughnuts.ro/" class="btn-ext-link" target="_blank">Visit site</a>
        </div>
        </div>

    </div>
  </div>
      <partial src="contact-section.html"></partial>

</div>
