<div class="right-side">
  <partial src="header.html"></partial>
  <div class="best-projects">
    <div class="projects">
      <div class="projects__box">
          <div class="project__img">
              <a href="https://www.figma.com/file/u1Vh9HOGSl3a6jt3Ot3upc/sapor-cooking-app-02?node-id=0%3A1" target="_blank">
              <img src="images/index/sapor-portfolio-img@2x.png" alt="cooking-app-sapor">
            </a>


   </div>
   <div class="projects__details">
            <span>Wantsome project</span>
            <h3>sapor cooking app</h3>
            <p>UI/UX, branding</p>
            <a href="https://www.figma.com/file/u1Vh9HOGSl3a6jt3Ot3upc/sapor-cooking-app-02?node-id=0%3A1" class="btn-ext-link" target="_blank">See project</a>
          </div>
        </div>
        <div class="projects__box">
          <div class="project__img"><a
           href="https://www.figma.com/file/c9S4GKKzYFMmbe1ZEqlSjZ/dacia-electric-car?node-id=0%3A1">
            <img src="images/index/electric-car.png" alt="electric-car">
          </a>
        </div>
          <div class="projects__details">
            <span>Wantsome project</span>
            <h3>electric car website</h3>
            <p>UI/UX, branding</p>
            <a href="https://www.figma.com/file/c9S4GKKzYFMmbe1ZEqlSjZ/dacia-electric-car?node-id=0%3A1" target="_blank" class="btn-ext-link">See project</a>
          </div>
        </div>
      <div class="projects__box">
          <div class="project__img">
          <a href="http://bit.ly/coffee-shop-app" target="_blank">
            <img src="images/index/diacafe.png" alt="coffe-shop-app">
          </a>
        </div>
          <div class="projects__details">
            <span>internship program</span>
            <h3>diacafe app</h3>
            <p>UI/UX, branding</p>
            <a href="http://bit.ly/coffee-shop-app" class="btn-ext-link" target="_blank">See project</a>
          </div>
        </div>
        <div class="projects__box">
          <div class="project__img"><a
           href="http://bit.ly/feedback-app-portfolio" target="_blank">
            <img src="images/index/feedback-app.png" alt="feedback-app">
          </a>
        </div>
          <div class="projects__details">
            <span>internship program</span>
            <h3>feedback app</h3>
            <p>UI/UX, branding</p>
            <a href="http://bit.ly/feedback-app-portfolio" class="btn-ext-link" target="_blank">See project</a>
          </div>
        </div>
      <div class="projects__box">
        <div class="project__img"><a
         href="https://ioanarosu.github.io/skills-for-sale/" target="_blank">
          <img src="images/index/skills-for-sale.jpg" alt="Skills for sale">
        </a>
      </div>
        <div class="projects__details">
          <span>Personal project</span>
          <h3>skills for sale</h3>
          <p>UI/UX, branding, html & css implementation</p>
          <ul>
            <li>
              <a href="https://ioanarosu.github.io/skills-for-sale/" class="btn-ext-link"target="_blank">Visit site</a>
            </li>
            <li>
              <a href="/skills-for-sale.html" class="btn-ext-link" target="_blank">Case study</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="projects__box">
        <div class="project__img"><a
         href="https://www.beststeakrestaurant.com" target="_blank">
          <img src="images/index/bsr.jpg" alt="best steak restaurant">
        </a>
      </div>
        <div class="projects__details">
          <span>Freelance project</span>
          <h3>best steak restaurant</h3>
          <p>UI/UX, html & css implementation</p>
          <a href="https://www.beststeakrestaurant.com" target="_blank" class="btn-ext-link">Visit site</a>
        </div>
      </div>

        <div class="projects__box">
          <div class="project__img"><a
           href="http://deliciousdoughnuts.ro/" target="_blank">
            <img src="images/index/dd.jpg" alt="delicious doughnuts">
          </a>
        </div>
          <div class="projects__details">
          <span>Freelance project</span>
          <h3>delicious doughnuts</h3>
          <p>UI/UX, html & css implementation</p>
          <a href="http://deliciousdoughnuts.ro/" class="btn-ext-link" target="_blank">Visit site</a>
        </div>
        </div>

  </div>
      <partial src="contact-section.html"></partial>

</div>
