<div class="right-side">
  <div class="pgallery">
    <img src="images/sfs.png" alt="skills for sale">
  </div>
  <div class="best-projects wrap">




    <div class="projects">
      <h2>All Projects</h2>
      <div class="underlined"></div>

      <a href="">
        <div class="projects__box">
          <div class="projects__image">
            <img src="images/sfs.png" alt="Skills for sale">
          </div>
          <h3 class="projects__title">Skills for Sale</h3>
        </div>
      </a>


      <a href="">
        <div class="projects__box">
          <div class="projects__image">
            <img src="images/dd.png" alt="delicious doughnuts">
          </div>
          <h3 class="projects__title">Delicious Doughnuts</h3>
        </div>
      </a>

      <a href="">
        <div class="projects__box">
          <div class="projects__image">
            <img src="images/bsr.png" alt="best steak restaurant">
          </div>
          <h3 class="projects__title">Best steak restaurant</h3>
        </div>
      </a>

      <a href="">
        <div class="projects__box">
          <div class="projects__image">
            <img src="images/thefooddude.png" alt="the food dude">
          </div>
          <h3 class="projects__title">The Food Dude</h3>
        </div>
      </a>

    </div>
  </div>
  <footer>
    <partial src="footer.html"></partial>
  </footer>
</div>
