.contact {
  background-color: #C42F34; }
  .contact .copyr {
    color: #ffffff; }
  .contact h2 {
    color: #ffffff;
    font-weight: 300;
    margin: 0;
    line-height: 1.5; }
  .contact .contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .contact .contact-section__box {
      margin: .8rem 0 1.6rem 0; }
      .contact .contact-section__box a {
        color: #ffffff;
        font-size: 1.4rem;
        font-weight: 300;
        text-transform: lowercase;
        letter-spacing: 0.44px;
        margin: 1.5rem 0; }
      .contact .contact-section__box span {
        display: block;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.8rem;
        margin-top: .8rem; }
      .contact .contact-section__box--email {
        background-color: #ffffff;
        color: #C42F34; }
  .contact .email-box-white {
    background-color: #ffffff;
    color: #C42F34;
    font-size: 1.4rem;
    font-weight: 300;
    border-radius: 5px;
    padding: 1.2rem;
    margin-top: .8rem;
    text-transform: uppercase; }
    .contact .email-box-white span {
      display: block;
      margin-top: .5rem;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1.5;
      text-transform: lowercase; }

.best-projects {
  margin-top: 2rem; }
  .best-projects .projects {
    margin-top: 7rem;
    text-align: center; }
    .best-projects .projects__box {
      max-width: 32rem;
      position: relative;
      margin: 0 auto 3.2rem auto;
      -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
      background-color: #ffffff; }
      .best-projects .projects__box .project__img {
        overflow: hidden;
        position: relative;
        height: 25rem; }
        .best-projects .projects__box .project__img img {
          position: relative;
          max-width: 32rem;
          top: 0;
          left: 0; }
    .best-projects .projects__details {
      padding: 1.6rem 1.6rem 2.4rem 1.6rem; }
      .best-projects .projects__details span {
        font-family: "Poppins", sans-serif;
        display: block;
        font-size: 1.4rem;
        color: #2dbcb7;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: .8rem; }
      .best-projects .projects__details h3 {
        font-size: 2rem;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        text-transform: lowercase;
        margin: 0; }
      .best-projects .projects__details p {
        font-size: 1.4rem;
        font-family: "Poppins", sans-serif;
        line-height: 1.5rem;
        text-transform: uppercase;
        font-weight: 500; }
      .best-projects .projects__details ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .best-projects .projects__details ul li {
          -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .right-side {
    grid-column-start: 2; }
    .right-side header {
      left: 35rem; }
  .contact {
    display: none; }
  .best-projects {
    margin-top: 6rem;
    padding-top: 2rem; }
    .best-projects .projects {
      margin-top: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      grid-gap: 1.6rem; }
      .best-projects .projects__box {
        margin: 0 auto 1.6rem; } }

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .right-side {
    grid-column-start: 2;
    margin-bottom: 3.2rem; }
    .right-side header {
      left: 30rem; }
  .contact {
    display: none; }
  .best-projects {
    margin-top: 8rem; }
    .best-projects .projects {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      grid-gap: 1.6rem;
      grid-row-gap: 1.6rem;
      margin-top: 0;
      margin-left: 3.2rem;
      margin-right: 3.2rem; }
      .best-projects .projects__box {
        margin: 0; } }

@media only screen and (min-width: 1440px) {
  .sm-about {
    margin-top: 0; }
  .right-side {
    grid-column-start: 2;
    margin-bottom: 3.2rem; }
    .right-side header {
      left: 40rem; }
    .right-side .contact {
      display: none; }
  .best-projects {
    margin-top: 8rem; }
    .best-projects h2 {
      padding-top: 3rem;
      text-align: left; }
    .best-projects .projects {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      grid-gap: 1.6rem;
      margin-top: 2rem;
      margin-left: 3.2rem;
      margin-right: 3.2rem; }
      .best-projects .projects__box {
        margin: 0; } }
