$primary-color: #C42F34;
$secundary-color: #2fc4bf ;
$body-color: #212121  ;
$body-bg-color: #ffffff;
$body-font: 'Poppins', sans-serif;

$titles-font: 'Poppins', sans-serif;
$lighten-body-color: #EEEDF1;
