$primary-color: #C42F34;
$secundary-color: #4A90E2 ;
$body-color: #212121  ;
$body-bg-color: #ffffff;
$body-font: 'Comfortaa', cursive;

$titles-font: 'Amatic SC', cursive;
$lighten-body-color: #EEEDF1;
