@import "_variables";
@import "_normalize";
.about-page {
  header {
    position: fixed;
    z-index: 11;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 60px;
    background-color:$body-bg-color;
    box-shadow: 0 0 40px 40px rgba(0,0,0,.05);

  }
  .top-bar {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    background: $body-bg-color;

  }
}
.profile-picture {
  min-height: 25rem;
  background: url('../images/ioana-rosu.png') no-repeat no-repeat center center;
  background-size: cover;
}
.description {
  h2 {
    padding: 4rem 0;
    text-align: left;
    font-size: 4.4rem;
  }
  .underlined {
    margin-left: 0;
  }
  p {
    line-height: 1.6;
    font-weight: 300;
  }
}
.contact-me {
  // background: linear-gradient(to top, #f2f2f2, $body-bg-color);
  background: $body-bg-color;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.18);
  margin-top: 3.5rem;
  padding-top: 2rem;
  h2 {
    font-size: 2.4rem;
    font-family: $titles-font;
    font-weight: 300;
    margin-bottom: .8rem;
    margin-top: 1rem;


  }
  p {
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 300;
  }
  .resume-link {
    color: $secundary-color;
    font-weight: 700;
    font-size: 1.6rem;
  }
  .mail-link {
    color: $primary-color;
    font-size: 1.6rem;
    font-weight: 400;
  }
}
////////////////////////////RESPONSIVE//////////////////////
@media only screen
and (min-width: 768px)
and (max-width: 1024px) {
    .profile-picture {
      max-height: 70rem;
      height: 70rem;
    }
  .contact-me {
      grid-column-start: 1;
      grid-column-end: 3;
      margin-top: 0;
      padding-top:3.5rem;
      padding-bottom: 2rem;
    }
}
@media only screen
  and (min-width: 1024px)
  and (max-width: 1440px) {
    .profile-picture {
      max-height: 70rem;
      height: 70rem;
    }
  .contact-me {
      grid-column-start: 1;
      grid-column-end: 3;
      margin-top: 0;
      padding-top:3.5rem;
      padding-bottom: 2rem;
    }

  }

@media only screen
  and (min-width: 1440px) {
    .profile-picture {
      max-height: 70rem;
      height: 70rem;
    }
    .contact-me {
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 0;
        padding-top:3.5rem;
        padding-bottom: 2rem;
    }
  }
