@import "_variables";
@import "_normalize";
.about-page {
  text-align: center;
  margin: 0 auto;
  header {
    position: fixed;
    max-width: 144rem;
    margin: 0 auto;
    z-index: 11;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 60px;
    background-color:$body-bg-color;
    border-bottom: 1px solid #3e3e3e1a;

  }
  .top-bar {
    height: 100%;
    margin: 0 auto;
    background: $body-bg-color;
    .logo {
      display: flex;
      flex: 1 0 10rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: 2.2rem;
      text-transform: lowercase;
      color: $primary-color;

    }
  }
  main {
    margin-top: 6rem;
  }
}
.profile-picture {
  max-width: 60rem;
  height: 55rem;
  margin: 4.2rem auto 4.2rem;
  background: url('../images/ioana-rosu.png') no-repeat no-repeat center center;
  background-size: cover;
}
.description {
  max-width: 65rem;
  margin: 0 auto 4rem auto;
  h2 {
    padding: 4rem 0 2rem 0;
    font-size: 6rem;
    text-transform: capitalize;
  }
  h3 {
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: $titles-font;
    text-align: left;
    margin-top: 4rem;

  }
  p {
    line-height: 1.6;
      font-size: 2.2rem;
      font-weight: 300;
  }
  &__infos {
    text-align: left;
    p {
      line-height: 1.6;
      font-size: 1.8rem;
      font-weight: 400;
    }
  }
  .experience {
    text-align: left;
    font-size: 1.8rem;
    font-family: $titles-font;
    font-weight: 300;
    line-height: 1.5;
    text-transform: capitalize;
    margin-bottom: 2.4rem;
    &__time {
      font-style: italic;
    }
    &__company {
      font-weight: 500;
      line-height: 1.8;
    }
  }


}
