@import "_variables";
@import "_normalize";
header {
    position: fixed;
    max-width: 144rem;
    margin: 0 auto;
    z-index: 11;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 60px;
    background-color:$body-bg-color;
    border-bottom: 1px solid #3e3e3e1a;

  }
.case-study {
  max-width: 100rem;
  margin: 8rem auto 0;
  padding: 3.2rem;
  // background-color: #fff5f58f;

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 3.2rem;
    justify-content: center;
    flex-wrap: wrap;
    h2 {
      flex: 1 0 auto;
      line-height: 1.5;
      font-weight: 400;
      font-size: 2.6rem;
      text-align: left;
    }
  }
  &__picture {
    margin-bottom: 1.6rem;
    text-align: center;
    background-color: #fff5f58f;
    img {
      width: 100%;
    }
  }


  &__infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    &--resp {
      margin-bottom: 1.6rem;
      padding-right: 2.4rem;
      h5 {
        font-family: $titles-font;
        font-size: 1.6rem;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0;
        line-height: 1.5;
      }
      p {
        font-size: 1.6rem;
        line-height: 1.5;
        margin: 0;
        font-weight: 300;
        text-transform: lowercase;
      }
    }
  }
  &__details {
    h3{
      line-height: 1.5;
      font-weight: 400;
      font-size: 2.4rem;
      font-family: $titles-font;
      text-transform: uppercase;
      margin-bottom: 0;
      margin-top: 3.2rem;
    }
    p {
      line-height: 1.6;
      font-weight: 300;
      font-size: 1.6rem;
    }
    .italic {
      font-style: italic;
      font-weight: 400;
    }
    img {
      max-width: 65rem;
      width: 100%;
    }
    h4 {
      font-family: $body-font;
      font-size: 2rem;
      font-weight: 400;
      margin-bottom: 1.6rem;
    }
  }
}
@media only screen
and (min-width: 768px)
and (max-width: 1024px) {
  .case-study {
    &__picture {
      padding: 2.6rem;
    }
  }
}



@media only screen
and (min-width: 1024px)
and (max-width: 1440px) {
.case-study {
  margin-top: 10rem;
  &__infos {
    &--resp {
      flex: 1 0 33%;
    }

  }
  &__picture {
      padding: 4rem;
    }
}

}

@media only screen
  and (min-width: 1440px) {
   .case-study {
    &__picture {
      padding: 4rem;
    }
  }
  }

