@import "_variables";
.sm-about {
  background-color: $body-color;
  color: $lighten-body-color;
  position: relative;
  padding: 3rem;
  margin-top: 6rem;
  h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-transform: lowercase;
    text-align: center;
    color: $primary-color;
    font-size: 36px;
    letter-spacing: 0;
    margin: 0;
  }
  h3 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-size: 1.6rem;
    margin: 0;
    line-height: 1.5;
  }
  p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    letter-spacing: 0.05px;
    line-height: 1.5;
    color: $body-bg-color;
    margin: 2.4rem 0;
  }
  &__cta {
    display: none;
    background-color: $primary-color;
    max-width: 30rem;
    position: relative;
    color: white;
    padding: 2.5rem 0;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    transition: 0.5s ease;
    span {
      line-height: 1.6;
    }
    &:hover {
      background-color: lighten($primary-color, 5%);

    }
  }
  &__mail-icon {
    width: 8rem;
    height: 8rem;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-1rem);
    border-radius: 50%;
    background-color: $body-bg-color;
    text-align: center;
    box-shadow: 0px 30px 20px -10px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.1);
    svg {
      width: 5rem;
      height: auto;
      margin: 0 auto;
      fill: $primary-color;

    }
}
}
.contact-fixed {
  .contact-section {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 3.5rem;
    margin-top: 5rem;
    &__box {
      color: $body-bg-color;
      font-size: 1.4rem;
      font-weight: 300;
      text-transform: lowercase;
      padding: .4rem;
      span {
        display: block;
        text-transform: uppercase;
        margin-top: .8rem;
        font-weight: 600;
        font-size: 1.6rem;
      }
    }
}
 ////////////////////////////RESPONSIVE//////////////////////
}
@media only screen
and (min-width: 768px)
and (max-width: 1024px) {
  .sidebar {
    position: fixed;
    width: 35rem;
    height: 100%;
    top: 0;
    left: 0;
  }
  .contact-fixed {
    .contact-section {
      display: grid;
    }
  }
  .top-bar {
    text-align: right;
  }

  .sm-about {
    height: 100%;
    padding-top: 5rem;
    margin-top: 0;
    p {
      margin-top: 4.2rem;
    }
    h2 {
      font-size: 3.5rem;
      margin-top: 2rem;
    }
    &__cta {
      display: block;
      margin-top: 12rem;
    }
    &__mail-icon {
      &--hide {
        display: none;
      }
    &--cta-up {
      transform:translateY(-12rem);
    }
    }
  }
}
@media only screen
  and (min-width: 1024px)
  and (max-width: 1440px) {
    .sidebar {
      position: fixed;
      width: 40rem;
      height: 100%;
      top: 0;
      left: 0;
    }
    .contact-fixed {
  .contact-section {
    display: grid;
  }
}
    .sm-about {
      height: 100%;
      padding-top: 5rem;
      margin-top: 0;
      h2 {
        font-size: 3.5rem;
        margin-top: 2rem;
      }
      p {
        margin-top: 4.2rem;
      }
    &__cta {
      display: block;
      margin-top: 10rem;
    }
    &__mail-icon {
      &--hide {
        display: none;
      }
    &--cta-up {
      transform:translateY(-12rem);
    }
    }
    &__avatar {
      display: block;
    }
  }
  }

@media only screen
  and (min-width: 1440px) {
    .sidebar {
      position: fixed;
      width: 40rem;
      height: 100%;
      top: 0;
      left: 0;
    }
    .contact-fixed {
      .contact-section {
        display: grid;
      }
    }
    .sm-about {
      height: 100%;
      padding-top: 5rem;
      h2 {
        font-size: 3.5rem;
        margin-top: 2rem;
      }
      p {
        margin-top: 4.2rem;
      }

    &__cta {
      display: block;
      margin-top: 10rem;
    }
    &__mail-icon {
      &--hide {
        display: none;
      }
    &--cta-up {
      transform:translateY(-12rem);
    }
    }
    &__avatar {
      display: block;
    }
  }

}

