@import "_variables";
.contact {
  background-color: $primary-color;
  .copyr {
      color: $body-bg-color;
    }
  h2 {
    color: $body-bg-color;
    font-weight: 300;
    margin: 0;
    line-height: 1.5;
  }
  .contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__box {
      margin: .8rem 0 1.6rem 0;
      a {
        color: $body-bg-color;
        font-size: 1.4rem;
        font-weight: 300;
        text-transform: lowercase;
        letter-spacing: 0.44px;
        margin: 1.5rem 0;
      }
      span {
        display: block;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.8rem;
        margin-top: .8rem;
      }
      &--email {
        background-color: $body-bg-color;
        color: $primary-color;
      }
    }
  }
  .email-box-white {
    background-color: $body-bg-color;
    color: $primary-color;
    font-size: 1.4rem;
    font-weight: 300;
    border-radius: 5px;
    padding: 1.2rem;
    margin-top: .8rem;
    text-transform: uppercase;
    span {
      display: block;
      margin-top: .5rem;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1.5;
      text-transform: lowercase;
    }
  }
}
.best-projects {
  margin-top: 2rem;

  .projects {
    margin-top: 7rem;
    text-align: center;
    &__box {
    	max-width: 32rem;
      position: relative;
      margin: 0 auto 3.2rem auto;
      box-shadow: 0 2px 20px 0 rgba(0,0,0,0.05);
      background-color: #ffffff;
    .project__img {
      overflow: hidden;
      position: relative;
      height: 25rem;
      img {
        position: relative;
        max-width: 32rem;
        top:0;
        left: 0;
      }
    }
  }

  &__details {
    padding: 1.6rem 1.6rem 2.4rem 1.6rem;

    span {
      font-family: $body-font;
      display: block;
      font-size: 1.4rem;
      color: darken($secundary-color,2%);
      text-transform: uppercase;
      font-weight: 400;
      margin-bottom: .8rem;
    }
    h3 {
      font-size: 2rem;
      font-weight: 400;
      font-family: $titles-font;
      text-transform: lowercase;
      margin: 0;
    }
    p {
      font-size: 1.4rem;
      font-family: $body-font;
      line-height: 1.5rem;
      text-transform: uppercase;
      font-weight: 500;
    }
    ul {
      display: flex;

      li {
        flex: 1 0 auto;
      }
    }
  }
}

}
// /////////////////////RESPONSIVE}///////////////
@media only screen
and (min-width: 768px)
and (max-width: 1024px) {
  .right-side {
    grid-column-start: 2;
    header {
      left: 35rem;
    }
  }
  .contact {
    display: none;
  }
  .best-projects {
    margin-top: 6rem;
    padding-top: 2rem;
    .projects {
      margin-top: 0;
      display: grid;
  		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  		grid-gap: 1.6rem;
      &__box {
      	margin: 0 auto 1.6rem;
	      	// .project__img {
	      	// 	img {
	      	// 		max-width: 35rem;
	      	// 	}
	      	// }
      }
    }
  }
}
@media only screen
and (min-width: 1024px)
and (max-width: 1440px) {
  .right-side {
    grid-column-start: 2;
    margin-bottom: 3.2rem;
    header {
      left: 30rem;
    }

  }
  .contact {
    display: none;
  }
  .best-projects {
    margin-top: 8rem;

    .projects {
    	// max-width: 800px;
      display: grid;
  		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  		grid-gap: 1.6rem;
      grid-row-gap: 1.6rem;
      margin-top: 0;
      margin-left: 3.2rem;
      margin-right: 3.2rem;

      &__box {
        margin: 0;
       //  max-width: 30rem;
       //  .project__img {
      	// 	img {
      	// 		max-width: 30rem;
      	// 	}
      	// }
      }
    }

  }
}
@media only screen
and (min-width: 1440px) {
	.sm-about {
		margin-top: 0;
	}
  .right-side {
    grid-column-start: 2;
    margin-bottom: 3.2rem;
    header {
      left: 40rem;
    }
    .contact {
      display: none;
    }
  }

  .best-projects {
    margin-top: 8rem;
    h2 {
      padding-top: 3rem;
      text-align: left;
    }

    .projects {
      display: grid;
  		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  		grid-gap: 1.6rem;
      margin-top: 2rem;
      margin-left: 3.2rem;
      margin-right: 3.2rem;
      &__box {
        margin: 0;
      }
    }
  }
}
